doctype html
html(lang="en")
  head
    title="Real time log"
    link(rel='shortcut icon', type='image/x-icon', href='/i/log.ico')
    link(rel='stylesheet', type='text/css', href='/main.css?v2')
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/tomorrow.min.css')

  body

    #nav
      .dropdown
        div.dropbtn Help
        .dropdown-content
          div
            include help

      a#menuNews.cursor-pointer News
      a.pull-right.green(href="https://github.com/cn007b/log") Fork me on GitHub

    #news.hide(style='display: none;')
      img#close.cursor-pointer.pull-right(src='/i/close.png')
      include news

    #root

    #counterBlock.rightcenter.hide
      span#counter 0
      span#counterPrecise 0

    if googleAnalyticsId
      script(async='', src='https://www.googletagmanager.com/gtag/js?id='+googleAnalyticsId)
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '#{googleAnalyticsId}');

    script(type='text/javascript', src=socketIoJs)
    script(type='text/javascript', src='//cdn.ravenjs.com/3.20.0/raven.min.js' crossorigin='anonymous')
    script.
      sentryDSN = "#{sentryDSN}";
      Raven.config(sentryDSN).install();
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js')
    script(type='text/javascript', src='/bundle.js')
