table
    tr
        td
            span.date Jul, 2018
        td.nw
            | Added googleAnalytics.js service into frontend. Improved WebSocket usage.
    tr
        td
            span.date Jun, 2018
        td.nw
            | Added counter block which shows count of received messages.
    tr
        td
            span.date Mar, 2018
        td.nw
            | Added code highlight into help section. Added new-relic support. Added GOlang example.
    tr
        td
            span.date Nov 16, 2017
        td.nw
            | Added sentry error monitoring and google analytics. Also added nsp npm package.
    tr
        td
            span.date Oct 10, 2017
        td.nw
            | Added unit tests and coverage report 😎.
    tr
        td
            span.date Sep, 2017
        td.nw
            | Added NodeJS usage example. Switched from http to https. Added eslint.
    tr
        td
            span.date Jun, 2017
        td.nw
            | Added JavaScript usage example. Template engine jade replaced with pug.
    tr
        td
            span.date May 18, 2017
        td.nw
            | Added code highlight 🎨.
    tr
        td
            span.date Apr 19, 2017
        td.nw
            | Added PHP usage example.
    tr
        td
            span.date Mar 22, 2017
        td.nw
            | Init project 🎬. Project deployed on heroku and available by url: realtimelog.herokuapp.com