doctype html
html(lang="en")
  head
    title="Real time log"
    link(rel='stylesheet', type='text/css', href='/s/main.css')
  body
    #root
    script(type='text/javascript', src=socketIoJs)
    script(type='text/javascript', src='/js/app.js')
