body {
  margin: 0;
}
p {
  border-top: 1px solid whitesmoke;
  clear: both;
  margin: 5px 0;
  padding: 5px 0;
}
#nav {
  background-color: whitesmoke;
  padding: 10px;
  border-bottom: 1px solid gainsboro;
  color: dimgray;
}
#nav a {
  text-decoration: none;
  color: dimgray;
}
#nav .blue {
  color: cornflowerblue;
}
#nav .green {
  text-decoration: blink;
  color: seagreen;
}
#nav span {
  margin-right: 9px;
}
#nav .dropdown, span {
  cursor: pointer;
}
.tags {
  display: block;
  float: left;
  width: 90px;
}
.date {
  color: cornflowerblue;
  display: block;
  float: left;
  font-size: 10px;
  height: 10px;
  width: 90px;
}
.ip {
  color: dimgray;
  display: block;
  float: left;
  font-size: 10px;
  height: 10px;
  width: 90px;
}
.code {
  display: block;
  float: right;
  width: calc(100% - 90px);
}
.codeExample {
  background-color: gainsboro;
  font-size: 11px;
}
.nw {
  white-space: nowrap;
}
.blink {
  -webkit-animation-duration: 2s;
  -webkit-animation-name: example;
  animation-duration: 2s;
  animation-name: example;
  background-color: white;
}
@-webkit-keyframes example {
  0% {background-color: lightyellow;}
}
@keyframes example {
  0% {background-color: lightyellow;}
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content span {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.pull-right {
  float: right;
}
